<div class="ui-g-8">


  <div class="card">
    <div class="ui-g card-title">
      <h2>Users list</h2>
    </div>

    <div class="ui-g-12 ui-md-12">
      <span class="ui-float-label">
          <input #gb id="float-input" type="text" size="30" pInputText> 
          <label for="float-input">Search users by Email</label>
      </span>
    </div>

    <p-dataTable [value]="userList" [globalFilter]="gb" #dt >
        <p-column field="name" header="Name"></p-column>
        <p-column field="username" header="Username"></p-column>
        <p-column field="email" header="Email"></p-column>
        <p-column field="address.street" header="Street"></p-column>
    </p-dataTable>
  </div>
</div>